@import "styles/reset.scss";

html {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: 9rem 1fr 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  min-height: 100vh;
}

header {
  display: grid;
  grid-area: 1/1/2/2;
  width: 100%;
  grid-template-columns: 10rem 1fr 12rem;
  grid-template-rows: 2fr 1fr;
  border: 1px solid gray;
  position: fixed;
  background-color: rgba(233, 221, 207, 0.9);
  .logo {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    position: relative;
    .logo__img__container {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 5.5rem;
        height: 5.5rem;
        max-height: 150px;
        position: absolute;
        right: 0.6rem;
      }
    }
  }

  .menu_bar {
    display: flex;
    flex-direction: row;
    grid-area: 1/2/2/-2;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile__container {
    grid-area: 1/-2/2/-2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;

      .profile__img img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }
  .__label {
    display: flex;
    grid-area: 2/1/-1/-1;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    background-color: #5f2723;
    border: 5px solid #331224;
    box-sizing: border-box;
    margin-top: 1px;
    padding-left: 2rem;
    color: white;
    width: 100%;
    height: 3rem;
  }
}

main {
  width: 100%;
  height: 100vh;
  grid-area: 2/1/3/-1;
  padding-bottom: 3rem;
  .introduction__container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem 0;
  }
  .introduction-logo__container {
    grid-area: 1/1/2/2;
    .introduction-logo__img {
      width: 100%;
      height: 100%;
    }
  }

  .introduction__collumn {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1rem;
    justify-content: flex-start;

    .explanation_of {
      font-weight: bold;
      font-size: 3rem;
    }
    .magic_club_korea {
    }
  }
  .introduction__collumn:nth-child(2) {
    grid-area: 1/2/2/5;
    padding-top: 3rem;
  }
  .introduction__collumn:nth-child(3) {
    grid-area: 2/1/3/4;
  }
  .introduction__collumn:nth-child(4) {
    grid-area: 3/1/4/4;
  }
  .introduction__collumn:last-child {
    grid-area: 4/1/5/4;
  }
}

footer {
  grid-area: 3/1/4/-1;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: flex-end;
  align-items: center;
  background-color: antiquewhite;
  margin-top: auto;
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    .contact__phone-number {
      font-size: 2em;
      font-weight: bold;
    }
  }
  .sns svg {
    width: 5rem;
    height: 5rem;
  }
}
.span-anchor {
  color: black;
  text-decoration-line: none;
}

.profile__img__login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  svg {
    width: 2rem;
    height: 2rem;
  }
}
.profile__username__login {
  span {
    font-size: 1.7rem;
  }
}
.display-none {
  display: none !important;
}
