.hamburger,
.profile__img__login {
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.mobile-menu {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-color: rgb(233, 221, 207);
  opacity: 0;
  grid-template-rows: 2rem repeat(8, 1rem);
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.5s ease-out;
}

.close-menu {
  cursor: pointer;
  margin-bottom: 2rem;
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
}
.mobile-nav-list {
  padding-top: 1.5rem;
}
.mobile-nav-list li {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
  html {
    width: 100%;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid gray;
    position: fixed;
    background-color: rgba(233, 221, 207, 1);

    .hamburger,
    .profile__img__login {
      display: flex;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
    .menu_bar * {
      display: none;
    }
    .profile__img__login {
      border-radius: 30% !important;
    }
    .hamburger {
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      grid-area: 1/-2/2/-1;
    }

    .profile__container * {
      display: none;
      border: none;
    }
  }

  @media screen and (max-width: 300px) {
    .too_small {
      display: flex;
      width: 100vw;
      height: 100vh;
      z-index: 99;
      background-color: bisque;
      font-size: 5rem;
    }
  }
}
