@import "styles/components/reset.scss";
@import "styles/components/header.scss";
@import "styles/components/footer.scss";
@import "styles/components/hamburger.scss";

.__label {
  gap: 1rem;
  .event_anchor {
    color: white;
    text-decoration: none;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: 2/1/3/-1;
  width: 100%;
  height: 70vh;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
  .events {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    margin: 1rem;
    gap: 1rem;

    .event__box {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 3px solid black;
      .event__img {
        width: 200px;
        height: 200px;
        margin: 10px;
        margin-top: 1rem;
      }
      .event__explain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 12rem;
        padding: 0.5rem 0 1rem 0;

        .event__title {
          font-weight: bold;
          font-size: 1.7rem;
          margin: 0.3rem;
        }

        .event__date {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
  body {
    width: 100vw;
    height: auto;
    main {
      width: 100vw;
      .ongoing_events {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .event__box {
          width: 75%;
        }
      }
    }
    footer {
      margin-top: 5rem;
    }
  }
}
