@import "styles/components/reset.scss";
@import "styles/components/header.scss";
@import "styles/components/footer.scss";
@import "styles/components/hamburger.scss";

main {
  display: flex;
  grid-area: 2/1/3/-1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gform {
    flex-direction: column;
    background-color: white;
    border: 2px solid #331224;
    width: 50rem;
    height: 23rem;
    padding: 1rem;
    gap: 1rem;

    .form-elements {
      display: grid;
      grid-template-rows: 15% repeat(5, 1fr) 10%;
      grid-template-columns: 25% 63% 12%;
      width: 100%;
      height: 100%;

      .title_and_contents {
        grid-area: 1/1/3/-1;
        .inquire__title {
          font-size: 3rem;
          font-weight: bold;
        }
        .inquire__contents {
          margin-top: 0.5rem;
        }
      }

      .pure-group {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        margin-top: 0.75rem;
      }
      .within-a-day {
        grid-area: 5/1/7/2;
        display: flex;
        align-items: center;
      }
      .writing-inquire {
        grid-area: 3/2/7/-1;
        display: flex;
        flex-direction: column;
        label {
          font-size: 1.5rem;
          font-weight: bold;
        }
        textarea {
          width: 99%;
          height: 80%;
        }
      }
      .honeypot-field {
        grid-area: -2/1/-1/3;
        opacity: 0.75;
        font-size: 0.5rem;
        flex-direction: row;
      }
      .button-success {
        grid-area: -2/-2/-1/-1;
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  body {
    width: 100vw;
    height: auto;
    main {
      width: 100vw;

      .gform {
        width: 80%;
        overflow-y: auto;

        .form-elements {
          grid-template-columns: 70% 30%;
          grid-template-rows: 5fr repeat(2, 1fr) 1.5fr 5fr 1fr;

          .pure-group {
            margin-top: 0;
          }

          .title_and_contents {
            grid-area: 1/1/2/3;
          }

          .pure-group:nth-child(3) {
            grid-area: 2/1/3/-1;
          }

          .within-a-day {
            grid-area: 4/1/5/-1;
          }
          .pure-group:nth-child(5) {
            grid-area: -2/1/-1/2;
            font-weight: bold;
            display: flex;
            input {
              width: 4rem;
            }
          }
          .writing-inquire {
            grid-area: 5/1/6/-1;
            textarea {
              height: 5rem;
            }
          }
          .pure-group,
          .within-a-day {
            display: inline;
            width: 100%;
            height: 1rem;
          }
        }
      }
    }
  }
}
