@import "styles/components/reset.scss";
@import "styles/components/header.scss";
@import "styles/components/footer.scss";
@import "styles/components/hamburger.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: 2/1/3/-1;
  padding-bottom: 3rem;

  .slideshow-container {
    position: relative;
    margin-top: 4%;
    width: 90%;
    height: 80%;
    border: 5px solid black;

    .prev {
      position: absolute;
      font-size: 5rem;
      right: 10rem;
      bottom: 1rem;
    }

    .next {
      position: absolute;
      right: 3rem;
      bottom: 1rem;
      font-size: 5rem;
    }

    .prev:hover,
    .next:hover {
      font-size: 5.5rem;
      cursor: pointer;
    }

    .slide {
      display: grid;
      grid-template-columns: 40% 60%;
      width: 100%;
      height: 100%;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        .slide__logo {
          max-width: 400px;
        }
      }
      .text-container {
        display: none;
        grid-template-rows: 30% 50% 20%;
        .intro__title {
          display: none;
          margin: 0.5rem;
          font-size: 3.5rem;
          font-weight: bold;
        }
        .intro__contents {
          display: none;
          margin: 0.5rem;
          font-size: 1.5rem;
        }
        .go_to_register {
          font-size: 1rem;
          margin-left: 0.5rem;
          display: none;
        }
        .go_to_register:hover {
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
      .rdimg {
        grid-area: 1/1/2/2;
        width: 300px;
        height: 300px;

        img {
          width: 300px;
          height: 300px;
          object-fit: contain;
          display: none;
        }
      }
    }
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
  .slideshow-container {
    height: 95% !important;
    display: flex;
    justify-self: center;
    .slide {
      grid-template-rows: 23rem 1fr;
      grid-template-columns: none !important;
      .icon {
        grid-area: 1/1/2/2;
        display: flex;
        justify-content: center;
      }
      .text-container {
        display: grid;
        grid-template-rows: 30% 60% !important;
        gap: 1rem;
        flex-wrap: wrap;
        .intro__title {
          font-size: 3rem !important;
          align-items: center;
        }
      }
    }
    .chevrons {
      margin: 1rem;
      width: 100%;
      z-index: 55;
      .prev {
        right: 6rem !important;
      }

      .next {
        right: 0.5rem !important;
      }
    }
  }
}
