@import "styles/components/reset.scss";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
  .user-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    .magic_club-logo {
      display: flex;
      width: 22rem;
    }

    .login-form {
      width: 20rem;
      display: flex;
      flex-direction: column;
      * {
        margin: 0.2rem;
        padding: 0.5rem 0.3rem;
      }
      .login {
        padding: 0.5rem 0;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .user-component:nth-child(3) {
    gap: 1rem;
    span:first-child {
      opacity: 0.6;
      font-size: 1rem;
    }
    a span {
      display: flex;
      font-weight: bold;
      line-height: 1.2;
      font-size: 1.1rem;
    }
    a span:hover {
      transform: scale(1.2);
    }
  }
}
