@import "styles/components/reset.scss";
@import "styles/components/header.scss";
@import "styles/components/footer.scss";
@import "styles/components/hamburger.scss";

main {
  display: flex;
  grid-area: 2/1/3/-1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main-content {
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
    width: 80%;
    height: 80%;
    border: 5px double #331224;
    background-color: white;
    .content__title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1.5rem;
      border-bottom: 1px solid #331224;
      .title {
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
    .content__paragraph {
      overflow-y: scroll;
      padding-left: 3rem;
    }
    .answer {
      border-top: 1px solid #331224;
      min-height: 4rem;
    }
  }
}
